{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block custom_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">{% endblock %}
{% block custom_js%}<script type="module" src="{{ url_for('static', filename='js/home.js') }}" defer></script>{% endblock %}

{% block content %}
<div class="body-element">
    <h1>Welcome</h1>

    <p>
        It is no surprise that in the 21st century, consumers are more aware about the ecological impact of the products that they buy. 
        Despite this, many companies do not offer an easy and accessible way to view the true 'origins' of a product, such as where its
        raw materials were sourced from, where each component part was assembled and what percent each country contributed to the 
        manufacturing process.
    </p>

    <p>
        This application aims to alleviate that issue by giving you a way to check the 'Traceability Timeline' of any given product. 
        As long as you have the <a href={{ url_for('scan.scan') }}>barcode</a>, you can check the entire history of gathering, processing,
        assembly, transport and retail for your given product. No longer will you have to worry about the precise origins of everyday
        items.
    </p>

    <h2>
</div>

<div class="body-element">
    <h1>Traceability Quest</h1>

    <p>
        While the Traceability Timeline is useful, it is a little boring. That's why we decided to create something to incentivise 
        players to learn about different products. Right now, you can <a href={{ url_for('tracequest.tracequest') }}>play</a> 'Traceability Quest' - a game where you answer increasingly
        hard questions about your favourite products to see if you really understand the Timeline. Each product timeline is split up
        into 18 missions where all you have to do is study the information given and hope your chose the correct answer. 
    </p>
</div>

<div class="body-element">
    <h1>What to Do Next</h1>

    <p>
        If you don't know where to go, don't worry - you can access all the resources using the menu on the left. Every page will have
        instructions about how to use its features. Below is a summary of all of resources available to you:
    </p>

    <div>
        <ul>
            <li>Home - Takes you back to this page</li>
            <li>Search for Products - Allows you to enter or scan a barcode for a product</li>
            <li>Play Trace Quest - Allows you to play our 'Traceability Quest' game with a chosen product</li>
            <li>Login - Brings you to a login page, opening up a way for you to access your game statistics</li>
        </ul>
    </div>
</div>

<div>
    <h1>References</h1>

    <p>
        In order for this application to work, many public resources and libraries were used. Below is a reference to every resource that 
        was used:
    </p>

    <p>
        checking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything workschecking to see if everything worksv
    </p>

    <div>
        <ul>
            <li>placeholder</li>
        </ul>
    </div>
</div>
{% endblock %}