/* defines how the entire webpage looks */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Page layout */
.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px minmax(0, 1fr);
    height: 100vh;
}

/* Stretches the top part of the screen so that we can have space for the logo */
.header {
    grid-column: 1 / 3;
    /* allows the CSS elements to stretch depending on the size of the window */
    display: flex;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 0 15px;
}

.logo {
    margin-right: 20px;
}

/* temporary logo text, will change later */
.logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.page-title {
    font-size: 20px;
}

/* The sidebar contains href links to every other webpage in the application */
.sidebar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Regular links will be on the top of the sidebar */
.sidebar-top {
    display: flex;
    flex-direction: column;
    /* there will be an 8 pixel between each link */
    gap: 8px;
}

/* there should be a gap between the 'regular links' and 'login links', so the middle of the sidebar is filled with empty space*/
.sidebar-middle {
    flex-grow: 1;
}

/* Login links are at the bottom of the sidebar */
.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Changes the style of the text for the links */
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar-bottom span {
    font-weight: bold;
    padding: 6px 0;
}

/* All of the bottom-right 'content' will be displayed for each webpage */
.content {
    padding-left: 20px;
    padding-right: 15px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

/* all of the 'flash' CSS elements are small dialogue boxes that appear in the top-right of the screen */
/* they can either be an error, confirmation or just general info */
.flash-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.flash {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.flash.error {
    background-color: #e74c3c;
}

.flash.success {
    background-color: #2ecc71;
}