.body-element{
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
}
.play_button{
    width:180px;
    height:120px;
    font-size: 28px;
}
.left_section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 12px; 
}
.difficulty_button{
    width: 140px;
    height: 100px;
    font-size: 28px;
}
.cancel_button{
    align-self: flex-start;
}