{% extends "base.html" %}

{% block title%}Contacts{% endblock %}

{% block content %}

{# all the content for the body of the webpage #}
<h1>Create contact</h1>

{# creates a JS form containing multiple fields and a 'submit' button #}
<form id="create-form">
    <input id="firstName" placeholder="First Name" required>
    <input id="lastName" placeholder="Last Name" required>
    <input id="email" placeholder="Email" required>
    <button type="submit">Add Contact</button>
</form>

{# creates an unordered list #}
<ul>
    {# for every contact in 'contacts' (variable passed from 'render_template' in 'get_contacts' method in 'main.py') #}
    {% for contact in contacts %}
    {# inline #}
    <li>
        {# every contact is displayed as a modifiable selection of fields #}
        <input id="fn-{{ contact.id }}" value="{{ contact.first_name }}">
        <input id="ln-{{ contact.id }}" value="{{ contact.last_name }}">
        <input id="em-{{ contact.id }}" value="{{ contact.email }}">
        {# all inline fields contain a button to 'update' and 'delete' the contact #}
        <button onclick="updateContact({{ contact.id }})">Update</button>
        <button onclick="deleteContact({{ contact.id }})">Delete</button>
    </li>
    {% endfor %}
</ul>
{% endblock %}