{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block custom_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">{% endblock %}
{% block custom_js%}<script type="module" src="{{ url_for('static', filename='js/product.js') }}" defer></script>{% endblock %}

{% block content %}
<h1>Product</h1>

<p>Detected barcode:</p>
<p><strong>{{ barcode }}</strong></p>

{% if product_name %}
<p>Product name:</p>
<p><strong>{{ product_name }}</strong></p>
{% else %}
<p>Product name not found in SimplifiedOFFData.</p>
{% endif %}

<p><a href="{{ url_for('scan') }}">Scan another barcode</a></p>
{% endblock %}
